{% extends "layouts/main.html" %}
{% load staticfiles %}
{% block title %}LendMyBook{% endblock title %}
{% block content %}
    <div class="container">
        {% for book in books %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="/books/view/{{ book.id_base_book }}"><img class="cover-image" src="/media/{{ book.book_images}}"/></a>
                                </div>
                                <div class="col-md-8">
                                    <h1>{{ book.base_book.title }}</h1>
                                    <h4>{{ book.edition }}</h4>
                                    <a href="/users/profile"><h5>{{ book.owner.first_name }}</h5></a>

                                    <br>
                                    {{ book.aditional_info}}

                                    {{ book.book_preferences.action_tags }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/books/index/search.css' %}">
{% endblock css %}