{% extends "layouts/main.html" %}
{% block title %}Perfil{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="avatar border-white" src="http://graph.facebook.com/{{user.socialaccount_set.all.0.uid}}/picture/?type=large" alt="..."/>
                <h4 class="title"><br/>
                    <a href="#">
                        <small>@chetfaker</small>
                    </a>
                </h4>
            </div>
            <div class="col-md-8">
                <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Editar perfil</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre de usuario</label>
                                        <input type="text" class="form-control border-input" placeholder="Username"
                                               value="manuelojeda">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control border-input" placeholder="Email" value="manuel.ojeda.892@gmail.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control border-input" placeholder="Company" value="Manuel">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        <input type="text" class="form-control border-input" placeholder="Last Name"
                                               value="Ojeda">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Dirección</label>
                                        <input type="text" class="form-control border-input" placeholder="Home Address"
                                               value="Hector R. Olea #3480">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <input type="text" class="form-control border-input" placeholder="City"
                                               value="Culiacán">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>País</label>
                                        <input type="text" class="form-control border-input" placeholder="Country"
                                               value="México">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Código postal</label>
                                        <input type="number" class="form-control border-input" placeholder="ZIP Code" value="80240">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Acerca de mi</label>
                                        <textarea rows="5" class="form-control border-input"
                                                  placeholder="Here can be your description" value="Mike">Aficionado al software, los libros y pelícuas, me encanta descubrir música y aprender constantemente.
                                            Lifelong learning <3
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Actualizar</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}