{% extends "layouts/main.html" %}
{% block title %}Perfil{% endblock title %}
{% block content %}
{% load staticfiles %}
    <div id="add-book-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Agrega un libro
                </div>
                <div class="modal-body">
                    <form action="{% url 'users:edit' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="form-group">
                            <label>Título</label>
                            <input name="title" type="text" class="form-control border-input" placeholder="Título" value="">
                        </div>
                        <div class="form-group">
                            <label for="author">Autor</label>
                            <input name="autor" type="text" class="form-control border-input" placeholder="Autor" value="">
                        </div>
                        <button type="submit" class="btn btn-primary btn-fill btn-wd">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% if profile.id_user == user.id_user %}
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs pull-right">
                        <li role="presentation" class="active"><a href="{% url 'users:edit' %}">Editar</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <img class="avatar border-white"
                        src="http://graph.facebook.com/{{ user.socialaccount_set.all.0.uid }}/picture/?type=large"
                        alt="..."/>
                    </div>
                    <div class="col-md-8">
                        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                        <h3>{{ user.email }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ user.description }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3>Mi biblioteca</h3>
                    {% if profile.id_user == user.id_user %}
                        <div class="btn-group" role="group" aria-label="...">
                            <button id="add-book-button" type="button" class="btn btn-default">Agregar un libro</button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/users/index.js' %}"></script>
{% endblock js %}